{% extends '../base.html' %}
{% load humanize widget_tweaks static %}
{% block title %}New Topic{% endblock title %}
{% block content %}
<div class="card mt-4 py-0 shadow-none">
  <div class="card-header border-bottom">
    <h2 class="header-title fw-800">
      {{community|capfirst}}
    </h2>
    <ul class="nav nav-tabs nav-tabs-sm">
      <li class="nav-item">
        <a href="{% url 'user_topics' user.username %}" class="nav-link text-dark" onclick="window.close();"><i class="las la-times la-lg"></i></a>
      </li>
    </ul>
  </div>
  <div class="card-header border-bottom-0">
    <ul class="nav nav-tabs nav-tabs-sm">
      <li class="nav-item">
        <a href="{% url 'new_topic' community.slug %}" class="nav-link active text-dark">Topic</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'new_media_topic' community.slug %}" class="nav-link text-dark">Media</a>
      </li>
    </ul>
  </div>
  <form action="{% url 'new_topic' community.slug %}" method="post">{% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <div class="d-flex fs-08 mb-2">
          {{form.title.label_tag}}
        </div>
        {{form.title|add_class:"form-control form-control-lg fs-11" }}
        {% if form.title.errors %}
          <div class="alert alert-danger" role="alert">
            {{form.title.errors|join:"<br>"}}
          </div>
        {% endif %}
      </div>
      <div class="form-group">
        <div class="d-flex fs-08 mb-2">
          {{form.content.label_tag}}
        </div>
        {{form.content|safe}}
      </div>
      {% if form.content.errors %}
      <div class="alert alert-danger" role="alert">
        {{form.content.errors|join:"<br>"}}
      </div>
      {% endif %}
      <button type="submit" class="btn btn-primary w-100">Post</button>
    </div>
  </form>
</div>
{% endblock content %}