{% extends 'base.html' %}
{% load humanize %}
{% block title %}For you{% endblock %}
{% block content %}
<div class="card shadow-none mt-4">
  <div class="card shadow-none px-0 mt-0 border-0">
    <div class="card-body border-0 py-3">
      <ul class="nav nav-tabs mb-0 border-bottom">
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'posts_foryou_based_on_communities_you_follow' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark active" href="{% url 'topics_foryou_based_on_communities_you_follow' %}">Topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'communities_you_follow' %}">Communities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'following_users' %}">Following</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#!">Keywords</a>
        </li>
      </ul>
    </div>
  </div>
  {% if topics.count > 0 %}
  <div class="card-body">
    <div class="list-group list-group-flush my-n3">
      {% for topic in topics %}
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col ms-n0 px-4">
            <h4 class="mb-1 fs-11 fw-bold">
              <a href="{% url 'topic' topic.community.slug topic.pk %}">{{ topic.title|capfirst }}</a>
            </h4>
            <p class="card-text small text-body-secondary px-2">
              <time datetime="{{topic.created|date:'Y-m-d H:i'}}">{{ topic.created|naturaltime }}</time>
            </p>
          </div>
          <div class="col-auto">{{topic.topic_views}}</div>
          <div class="col-auto">2500 <br> replies</div>
        </div>
      </div>
      {% empty %}
      <div class="list-group-item">
        <div class="row align-items-center">
          <div class="col ms-n0 px-4">
            <h4 class="mb-1 fs-11 fw-bold">
              No topics found
            </h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}