{% extends '../base.html' %}
{% load humanize %}
{% block content %}
<div class="header mt-6">
  <div class="container-fluid">
    <div class="header-body mt-n5 mt-md-n6 border-bottom-0">
      <div class="row align-items-end">
        <div class="col-auto">
        {% if user.avatar %}
          <a href="javascript:void(0)" class="avatar avatar-sm">
            <img src="{{user.avatar.url}}" alt="..." class="avatar-img rounded-circle">
          </a>
          {% else %}
          <div class="avatar avatar-sm">
            <span class="avatar-title rounded-circle">{{user.username|slice:":2"}}</span>
          </div>
        {% endif %}
        </div>
        <div class="col mb-3 ms-n3 ms-md-n2">
          <h6 class="header-pretitle">
            Rank
          </h6>
          <h1 class="header-title fs-12">
            {{user.username}}
          </h1>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col">
          <ul class="nav nav-tabs nav-overflow header-tabs">
            <li class="nav-item">
              <a href="{% url 'user_topics' user.username %}" class="nav-link active">
                Communities
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'following_users' user.username %}" class="nav-link">
                People
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                Posts
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'saved_searches' %} {% if request.path == saved_searches_url %}active fw-800{% endif %}" class="nav-link">
                Saved
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<form action="{% url 'search_user_topics' %}" method="get" class="mt-3">
  <div class="input-group mb-3">
    <input type="search" name="q" value="{{ request.GET.q|default:'' }}" placeholder="Search your topics" class="form-control" autocomplete="off">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
</form>
<div class="row">
  <div class="col-12 col-xl">
    <div class="card card-fill shadow-none">
      <div class="card-body">
        <div class="list-group list-group-flush my-n3">
          {% for community in user.following_communities.all %}
          <div class="list-group-item px-2">
            <div class="row align-items-center">
              <!-- <div class="col-auto"></div> -->
              <div class="col ms-n2">
                <h2 class="mb-1 fs-12 fw-bold">
                  <a href="{% url 'community' community.slug %}">{{community|capfirst}}</a>
                </h2>
                <ul class="list-group list-group-horizontal mt-2">
                  <li class="list-group-item p-0 px-2 border-0 fs-08">{{community.topic_set.all|length}} topics</li>
                  <li class="list-group-item p-0 px-2 border-0 fs-08">{{user.following_communities.count}} followers</li>
                </ul>
              </div>
              <div class="col-auto">
                {% if user.following_communities %}
                <form method="post" 
                  hx-post="{% url 'unfollow_community' community.slug %}" 
                  hx-target="this" 
                  hx-swap="outerHTML">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm text-bg-danger-subtle rounded-2">Unfollow</button>
                </form>
                {% else %}
                <form method="post" 
                  hx-post="{% url 'follow_community' community.slug %}" 
                  hx-target="this" 
                  hx-swap="outerHTML">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">Follow</button>
                </form>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}