{% extends '../base.html' %}
{% load static humanize %}
{% block title %}Community - {{ community|capfirst }}{% endblock %}
{% block content %}
<div class="header mt-4">
  <div class="container-fluid">
    <div class="header-body pb-2">
      <div class="row">
        <div class="col">
          <h1 class="header-title fs-13">
            {{ community|capfirst }}
          </h1>
          <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item p-0 px-2 border-0 fs-08">{{community.topic_set.all|length}} topics</li>
            <li class="list-group-item p-0 px-2 border-0 fs-08">{{user.following_communities.count}} followers</li>
          </ul>
        </div>
        {% if community in user.following_communities.all %}
        <div class="col-auto px-0">
          <a href="{% url 'new_topic' community.slug %}" class="btn btn-sm btn-primary">
            New Topic
          </a>
        </div>
        {% endif %}
        <div class="col-auto px-2">
          {% if community in user.following_communities.all %}
          <form method="post" action="{% url 'unfollow_community' community.slug %}">{% csrf_token %}
            <button type="submit" class="btn btn-sm text-bg-danger-subtle rounded-2">Unfollow</button>
          </form>
          {% else %}
          <form method="post" action="{% url 'follow_community' community.slug %}">{% csrf_token %}
            <button type="submit" class="btn btn-sm text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">Follow</button>
          </form>
          {% endif %}
        </div>
        <div class="col-auto px-0">
          <a href="#!" class="btn btn-sm btn-primary">
            Filters
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<form action="" method="get" class="mt-4">
  <div class="input-group mb-3">
    <input type="search" name="q" value="{{ request.GET.q|default:'' }}" placeholder="Search topics" class="form-control" autocomplete="off">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
</form>
<div class="card shadow-none">
  <div class="card-header">
    <h4 class="card-header-title">
      Topics
    </h4>
  </div>
  <div class="card-body">
    <div class="list-group list-group-flush my-n3">
      {% for topic in community.topic_set.all %}
      <div class="list-group-item px-2 py-4">
        <div class="row align-items-center">
          <div class="col">
            <h1 class="mb-0 fs-11">
              <a href="" class="">{{topic}}</a>
            </h1>
            <ul class="list-group list-group-horizontal mt-2">
              <li class="list-group-item p-0 px-2 border-0 fs-08">author {{topic.user}}</li>
              <li class="list-group-item p-0 px-2 border-0 fs-08">{{topic.created|naturaltime}}</li>
            </ul>
          </div>
          <div class="col-auto">
            <i class="bi bi-eye"></i>&nbsp;&nbsp;&nbsp;&nbsp;62 225
          </div>
          <div class="col-auto">
            <i class="bi bi-chat-right-fill"></i>&nbsp;&nbsp;&nbsp;&nbsp;2300
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
