{% extends '../base.html' %}
{% load static humanize widget_tweaks %}
{% block title %}Community - {{ community|capfirst }}{% endblock %}
{% block content %}
<div class="header mt-4">
  <div class="container-fluid">
    <div class="header-body pb-2">
      <div class="row">
        <div class="col-auto">
          <a href="{% url 'community' community.slug %}">
            <i class="bi bi-arrow-left-circle la-2x text-dark"></i>
          </a>
        </div>
        <div class="col">
          <h1 class="header-title fs-13 fw-800">
            {{ community|capfirst }}
          </h1>
          <ul class="list-group list-group-horizontal mt-2">
            <li class="list-group-item p-0 px-2 border-0 fs-08">{{community.topic_set.all|length}} topics</li>
            <li class="list-group-item p-0 px-2 border-0 fs-08">{{user.following_communities.count}} followers</li>
          </ul>
        </div>
        <div class="col-auto px-0">
          <div class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-sm btn-white" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="bi bi-three-dots la-lg"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end mt-2" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 27px, 0px);">
              <a href="{% url 'latest_community_topics' community.slug %}" class="dropdown-item text-dark">
                Latest topics
              </a>
              <a href="{% url 'latest_community_posts' community.slug %}" class="dropdown-item text-dark">
                Latest posts
              </a>
              <a href="{% url 'community_topics_with_most_views' community.slug %}" class="dropdown-item text-dark">
                Most views
              </a>
              <a href="#!" class="dropdown-item text-dark">
                Most replies
              </a>
              <a href="#!" class="dropdown-item text-dark">
                Search history
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form action="{% url 'search_community_topics' community.slug %}" method="get" class="mt-4">
  <div class="input-group mb-3">
    <input type="search" name="q" value="{{ request.GET.q|default:'' }}" placeholder="Search topics in this community" class="form-control" autocomplete="off">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
</form>
<div class="card shadow-none">
{% for post in posts %}
<div class="card-body border-bottom">
  <div class="row align-items-center mb-4">
    <div class="col-auto">
      {% if post.user.avatar %}
      <a href="javascript:void(0)" class="avatar avatar-xs">
        <img src="{{post.user.avatar.url}}" alt="..." class="avatar-img rounded-circle">
      </a>
      {% else %}
      <div class="avatar avatar-xs">
        <span class="avatar-title rounded-circle">{{post.user.username|slice:":2"}}</span>
      </div>
      {% endif %}
    </div>
    <div class="col ms-n2">
      <h4 class="mb-1">
        {{ post.user.username }}
      </h4>
      <p class="card-text small text-body-secondary">
        <time datetime="{{post.created|date:'Y-m-d H:i'}}">{{ post.created|naturaltime }}</time>
      </p>
    </div>
  </div>
  <a href="{% url 'topic' community.slug post.pk %}" class="text-dark">
  <div class="fs-11 overflow-auto mb-4 px-3">
    {{ post.content|safe }}
  </div>
  </a>
  <div class="mb-3">
    <div class="row">
      <div class="col">

        <!-- Reaction -->
        <a href="#!" class="btn btn-sm btn-white">
          😬 1
        </a>
        <a href="#!" class="btn btn-sm btn-white">
          👍 2
        </a>
        <a href="#!" class="btn btn-sm btn-white">
          Add Reaction
        </a>
      </div>
      <div class="col-auto">
        <a href="#!" class="btn btn-sm btn-white">
          Share
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}
