{% load humanize widget_tweaks %}
<div id="topics">
  {% for topic in topics %}
  <div id="topic-{{ topic.slug }}" class="card shadow-none mt-0 mb-0 border-bottom-0 rounded-0 px-3 py-2">
    <div class="card-body pt-0">
      <div class="card-header mb-2 border-0 px-0">
        <h2 class="me-auto header-title fw-800 mt-3 fs-12">
          {{topic.title|capfirst}}
        </h2>
        <div class="dropdown">
          <a href="javascript:;" class="dropdown-ellipses dropdown-toggle show" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="las la-ellipsis-h la-lg text-dark"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item text-dark" data-bs-toggle="collapse" href="#collapsetopic-{{topic.slug}}">Add query</a>
            <a href="{% url 'update_topic' topic.slug %}" class="dropdown-item text-dark">Edit</a>
            <form method="post" 
              action="{% url 'delete_topic' user.username topic.slug %}" 
              hx-post="{% url 'delete_topic' user.username topic.slug %}" 
              hx-target="#topics"
              hx-swap="outerHTML">
              {% csrf_token %}
              <button type="submit" class="dropdown-item text-dark">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <div class="fs-11 overflow-auto">
        {{ topic.content|safe }}
      </div>
      <div class="collapse mt-4" id="collapsetopic-{{topic.slug}}">
        {% include 'search/partials/saved_search_form.html' %}
      </div>
      <div class="mb-0 mt-4">
        <div class="row">
          <div class="col">
            <a href="javascript:;" class="btn btn-sm btn-white border-0">
              {% if topic.likes.count > 0 %}
              <i class="bi bi-heart-fill"></i>
              {% else %}
              <i class="bi bi-heart"></i>
              {% endif %}&nbsp;&nbsp;&nbsp;{{topic.likes.count}}
            </a>&nbsp;&nbsp;
            <a href="javascript:;" class="btn btn-sm btn-white border-0"><i class="bi bi-chat-right-text"></i>&nbsp;&nbsp;&nbsp;{{topic.comments.count}}</a>&nbsp;&nbsp;
            {% if topic.is_pinned %}
            <a href="javascript:;" class="btn btn-sm btn-white border-0"><i class="bi bi-bookmark-fill"></i>&nbsp;&nbsp;&nbsp;{{pinned_count}}</a>
            {% else %}
            <a href="javascript:;" class="btn btn-sm btn-white border-0"><i class="bi bi-bookmark"></i>&nbsp;&nbsp;&nbsp;{{pinned_count}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="edittopic-{{topic.slug}}" tabindex="-1"  aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-card card" data-list="{&quot;valueNames&quot;: [&quot;name&quot;]}">
          <div class="card-header">
            <h4 class="card-header-title" id="exampleModalCenterTitle">
              Add a member
            </h4>
  
            <!-- Close -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  
          </div>

          <div class="card-body">
  
            <!-- List group -->
            <form action="" method="post" class="list-group list-group-flush list my-n3">
              <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                  </div>
                 
                </div> <!-- / .row -->
              </li>
              </form>
            </ul>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>