{% extends '../base.html' %}
{% load humanize %}
{% block title %}Categories{% endblock %}
{% block content %}
<div class="header">
  <div class="container-fluid">
    <div class="header-body pb-3">
      <div class="row align-items-end">
        <div class="col">
          <h1 class="header-title fs-12">
           Categories
          </h1>
        </div>
        <div class="col-auto">
          <a class="btn btn-primary btn-white text-dark rounded-5" data-bs-toggle="collapse" href="#filterCategories">
            <i class="bi bi-funnel"></i>&nbsp;&nbsp;Filter
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="collapse" id="filterCategories">
  <ul class="list-group">
    {% for category in categories %}
    <li class="list-group-item py-2">
      <a href="#category-{{ category.slug }}">{{ category.name|capfirst }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
<div class="row mt-4">
  <div class="col-12">
    {% for category in categories %}
    <h2 class="mb-3">
      <a id="category-{{ category.slug }}" href="{% url 'category' category.slug %}" class="border-bottom fw-800">
        {{ category.name|capfirst }}
      </a>
    </h2>
    <p class="text-dark px-2">
      {{ category.description }}
    </p>
    <div class="card shadow-none" data-list='{"valueNames": ["orders-order", "orders-product", "orders-date", "orders-total", "orders-status", "orders-method"]}'>
      <div class="card-header">
        <form>
          <div class="input-group input-group-flush input-group-merge input-group-reverse">
            <input class="form-control list-search" type="search" placeholder="Search">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </form>
      </div>
      <div class="table-responsive">
        <table class="table table-sm table-nowrap card-table">
          <thead>
            <tr>
              <th colspan="5">
                {{ category.communities.all|length }} Communities
              </th>
              <th width="50">
                <a href="#" class="text-body-secondary list-sort" data-sort="orders-total">
                  Topics
                </a>
              </th>
              <th width="50">
                <a href="#" class="text-body-secondary list-sort" data-sort="orders-status">
                  Replies
                </a>
              </th>
              <th width="50">
                <a href="#" class="text-body-secondary list-sort" data-sort="orders-status">
                  Followers
                </a>
              </th>
              <th width="50"></th>
            </tr>
          </thead>
          <tbody class="list">
            {% for community in category.communities.all %}
            <tr>
              <td class="orders-order" colspan="5">
                <a href="{% url 'community' community.slug %}" class="fs-1 text-dark fw-bold">{{ community.name|capfirst }}</a>
              </td>
              <td class="orders-product" width="50">
                {{ community.topic_set.count }}
              </td>
              <td class="orders-product" width="50">
                {{ community.answers.count }}
              </td>
              <td class="orders-product" width="50">
                {{ community.followed_communities.count }}
              </td>
              <td class="orders-product" width="50">
                {% if community in followed_communities %}
                <form method="post" 
                  hx-post="{% url 'unfollow_community' community.slug %}" 
                  hx-target="this" 
                  hx-swap="outerHTML">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm text-bg-danger-subtle rounded-2">Unfollow</button>
                </form>
                {% else %}
                <form method="post" 
                  hx-post="{% url 'follow_community' community.slug %}" 
                  hx-target="this" 
                  hx-swap="outerHTML">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">Follow</button>
                </form>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}