{% extends "base.html" %}
{% load humanize widget_tweaks %}
{% block content %}
<div class="header mt-6">
  <div class="container-fluid">
    <div class="header-body mt-n5 mt-md-n6">
      <div class="row align-items-end">
        <div class="col-auto">
        {% if user.avatar %}
          <a href="javascript:void(0)" class="avatar avatar-sm">
            <img src="{{user.avatar.url}}" alt="..." class="avatar-img rounded-circle">
          </a>
          {% else %}
          <div class="avatar avatar-sm">
            <span class="avatar-title rounded-circle">{{user.username|slice:":2"}}</span>
          </div>
        {% endif %}
        </div>
        <div class="col mb-3 ms-n3 ms-md-n2">
          <h6 class="header-pretitle">
            Rank
          </h6>
          <h1 class="header-title fs-12">
            {{user.username}}
          </h1>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col">
          <ul class="nav nav-tabs nav-overflow header-tabs">
            <li class="nav-item">
              <a href="{% url 'user_settings' user.username %}" class="nav-link">
                Profile
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'password_change' user.username %}" class="nav-link active">
                Security
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                Billing
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 order-md-2">
    <div class="card bg-light border ms-md-4">
      <div class="card-body">
        <p class="mb-2">Password requirements</p>
        <p class="small text-body-secondary mb-2">To create a new password, you have to meet all of the following requirements:</p>
        <ul class="small text-body-secondary ps-4 mb-0">
          <li>Minimum 12 character</li>
          <li>At least one special character</li>
          <li>At least one number</li>
          <li>Can't be the same as a previous password</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <form action="{% url 'password_change' user.username %}" method="post">{% csrf_token %}
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field, error in form.errors.items %}
          {{ error|striptags }}
        {% endfor %}
      </div>
      {% endif %}
      <div class="form-group">
        {{ form.old_password.label_tag }}
        {% render_field form.old_password class="form-control" type="password" %}
      </div>
      <div class="form-group">
        {{ form.new_password1.label_tag }}
        {% render_field form.new_password1 class="form-control" type="password" %}
      </div>
      <div class="form-group">
        {{ form.new_password2.label_tag }}
        {% render_field form.new_password2 class="form-control" type="password" %}
      </div>
      <button class="btn w-100 btn-primary lift" type="submit">
        Update password
      </button>
    </form>
  </div>
</div>
{% endblock content %}