{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="row mb-4 mt-4">
  <div class="col">
    <form action="{% url 'search_all_topics' %}" method="get" class="form-inline me-4 d-none d-lg-flex w-100">
      <div class="input-group input-group-lg input-group-merge input-group-reverse">
        <input type="search" name="sq" value="{{ request.GET.sq|default:'' }}" placeholder="Search" class="form-control dropdown-toggle list-search" autocomplete="off">
        <div class="input-group-text">
          <i class="las la-search"></i>
        </div>
      </div>
    </form>
  </div>
</div>
{% if search_count > 0 %}
<div class="mb-4">
  <p class="text fs-11 fw-800">Found {{ search_count }} results for "{{ search_query }}"</p>
</div>
{% else %}
<div class="mb-4">
  <p class="text fs-11 fw-800">Found {{ search_count }} results for "{{ search_query }}"</p>
</div>
{% endif %}
{% if search_count > 0 %}
<div class="card shadow-none">
  <div class="card-header border-0">
    <ul class="nav nav-tabs mb-0">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'search_all_topics' %}?sq={{ request.GET.sq|default:'' }}">Topics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!">Comments</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="list-group list-group-flush my-n3">
      {% for topic in topics %}
      <div class="list-group-item">
        <h2 class="fs-12 fw-800">
          <a href="{% url 'topic' topic.community.slug topic.pk %}">
            {{topic.search_title_highlight|safe}}
          </a>
        </h2>
        <div class="row align-items-center">
          <div class="col-auto">
            {% if topic.user.avatar %}
            <a href="javascript:void(0)" class="avatar avatar-xs">
              <img src="{{topic.user.avatar.url}}" alt="..." class="avatar-img rounded-circle">
            </a>
            {% else %}
            <div class="avatar avatar-xs">
              <span class="avatar-title rounded-circle">{{topic.user.username|slice:":2"}}</span>
            </div>
            {% endif %}
          </div>
          <div class="col ms-n2">
            <h4 class="mb-1"><i class="bi bi-person"></i>&nbsp;&nbsp;{{topic.user.username}}&nbsp;&nbsp;&nbsp;</h4>
            <p class="card-text small text-body-secondary">
              <time datetime="{{topic.created|date:'Y-m-d H:i'}}">{{topic.created|naturaltime}}</time>
            </p>
          </div>
        </div>
        <div class="card-body">
          <div class="fs-12 fw-bold">
            {{topic.search_content_highlight|safe}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
