{% extends '../base.html' %}
{% load humanize widget_tweaks %}
{% block content %}
<div class="header mt-6">
  <div class="container-fluid">
    <div class="header-body mt-n5 mt-md-n6">
      <div class="row align-items-end">
        <div class="col-auto">
        {% if user.avatar %}
        <a href="javascript:void(0)" class="avatar avatar-sm">
          <img src="{{user.avatar.url}}" alt="..." class="avatar-img rounded-circle">
        </a>
        {% else %}
        <div class="avatar avatar-sm">
          <span class="avatar-title rounded-circle">{{user.username|slice:":2"}}</span>
        </div>
        {% endif %}
        </div>
        <div class="col mb-3 ms-n3 ms-md-n2">
          <h6 class="header-pretitle">
            Rank
          </h6>
          <h1 class="header-title fs-12">
            {{user.username}}
          </h1>
        </div>
      </div>
      <div class="row align-items-center mt-4">
        <div class="col">
          <ul class="nav nav-tabs nav-overflow header-tabs">
            <li class="nav-item">
              <a href="{% url 'user_topics' user.username %}" class="nav-link active">
                Topics
              </a>
            </li>
            <li class="nav-item">
              <a href="profile-groups.html" class="nav-link">
                Bookmarks
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'saved_searches' %}" class="nav-link">
                Saved 
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                People
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'user_communities' user.username %}" class="nav-link">
                Communities
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<form action="{% url 'search_user_topics' %}" method="get" class="mt-4">
  <div class="input-group mb-3">
    <input type="search" name="q" value="{{ request.GET.q|default:'' }}" placeholder="Search your topics" class="form-control" autocomplete="off">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
</form>
{% if search_count > 0 %}
<div class="mb-4">
  <form method="post" action="{% url 'new_saved_search' search_query %}">{% csrf_token %}
    <button type="submit" class="btn btn-primary w-100">Save</button>
  </form>
</div>
{% endif %}
<div id="topics">
  {% for topic in topics %}
  <div id="topic-{{ topic.slug }}" class="card shadow-none mt-0 mb-0 border-bottom-0 rounded-0 px-3 py-2">
    <div class="card-body pt-0">
      <div class="card-header mb-2 border-0 px-0">
        <h3 class="me-auto header-title fw-800 mt-3 fs-11">
          {{topic.search_title_highlight|safe}}
        </h3>
        <div class="dropdown">
          <a href="javascript:;" class="dropdown-ellipses dropdown-toggle show" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="las la-ellipsis-h la-lg text-dark"></i></a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item text-dark" data-bs-toggle="collapse" href="#collapsetopic-{{topic.slug}}" >Add query</a>
            <a href="{% url 'update_topic' topic.slug %}" class="dropdown-item text-dark">Edit</a>
            <form method="post" 
              action="{% url 'delete_topic' user.username topic.slug %}" 
              hx-post="{% url 'delete_topic' user.username topic.slug %}" 
              hx-target="#topics"
              hx-swap="outerHTML">
              {% csrf_token %}
              <button type="submit" class="dropdown-item text-dark">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <div class="fs-11 overflow-auto">
        {{ topic.search_content_highlight|safe }}
      </div>
      <div class="mb-0 mt-4">
        <div class="row">
          <div class="col">
            <a href="javascript:;" class="btn btn-sm btn-white border-0">
              {% if topic.likes.count > 0 %}
              <i class="bi bi-heart-fill"></i>
              {% else %}
              <i class="bi bi-heart"></i>
              {% endif %}&nbsp;&nbsp;&nbsp;{{topic.likes.count}}
            </a>&nbsp;&nbsp;
            <a href="javascript:;" class="btn btn-sm btn-white border-0"><i class="bi bi-chat-right-text"></i>&nbsp;&nbsp;&nbsp;{{topic.comments.count}}</a>&nbsp;&nbsp;
            {% if topic.is_pinned %}
            <a href="javascript:;" class="btn btn-sm btn-white border-0"><i class="bi bi-bookmark-fill"></i>&nbsp;&nbsp;&nbsp;{{pinned_count}}</a>
            {% else %}
            <a href="javascript:;" class="btn btn-sm btn-white border-0"><i class="bi bi-bookmark"></i>&nbsp;&nbsp;&nbsp;{{pinned_count}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="edittopic-{{topic.slug}}" tabindex="-1"  aria-modal="true" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-card card" data-list="{&quot;valueNames&quot;: [&quot;name&quot;]}">
          <div class="card-header">
            <h4 class="card-header-title" id="exampleModalCenterTitle">
              Add a member
            </h4>
  
            <!-- Close -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  
          </div>

          <div class="card-body">
  
            <!-- List group -->
            <form action="" method="post" class="list-group list-group-flush list my-n3">
              <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-auto">
                    
                  </div>
                 
                </div> <!-- / .row -->
              </li>
              </form>
            </ul>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}