{% extends '../../base.html' %}
{% block content %}
<div class="header mt-6">
  <div class="container-fluid">
    <div class="header-body mt-n5 mt-md-n6 border-bottom-0">
      <div class="row align-items-end">
        <div class="col-auto">
        {% if user.avatar %}
          <a href="javascript:void(0)" class="avatar avatar-sm">
            <img src="{{user.avatar.url}}" alt="..." class="avatar-img rounded-circle">
          </a>
          {% else %}
          <div class="avatar avatar-sm">
            <span class="avatar-title rounded-circle">{{user.username|slice:":2"}}</span>
          </div>
        {% endif %}
        </div>
        <div class="col mb-3 ms-n3 ms-md-n2">
          <h6 class="header-pretitle">
            Rank
          </h6>
          <h1 class="header-title fs-12">
            {{user.username}}
          </h1>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col">
          <ul class="nav nav-tabs nav-overflow header-tabs">
            <li class="nav-item">
              <a href="{% url 'user_topics' user.username %}" class="nav-link">
                Communities
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'following_users' user.username %}" class="nav-link active">
                People
              </a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">
                Posts
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<form action="{% url 'search_user_topics' %}" method="get" class="mt-4">
  <div class="input-group mb-3">
    <input type="search" name="q" value="{{ request.GET.q|default:'' }}" placeholder="Search your topics" class="form-control" autocomplete="off">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </div>
</form>
<div class="row">
  <div class="col-12 col-xl">
    <div class="card card-fill shadow-none">
      <div class="card-body">
        <div class="list-group list-group-flush my-n3">
          {% for user in following_users %}
          <div class="list-group-item">
            <div class="row align-items-center">
              <div class="col-auto">
                {% if user.avatar %}
                  <a href="javascript:void(0)" class="avatar avatar-xs">
                    <img src="{{user.avatar.url}}" alt="..." class="avatar-img rounded-circle">
                  </a>
                  {% else %}
                  <div class="avatar avatar-xs">
                    <span class="avatar-title rounded-circle">{{user.username|slice:":2"}}</span>
                  </div>
                {% endif %}
              </div>
              <div class="col ms-n2">
                <h2 class="mb-1 fs-11">
                  <a href="">{{user}}</a>
                </h2>
                <!-- <ul class="list-inline mb-0 px-2">
                  <li class="list-inline-item">
                    <a href="" class="fs-08">
                     latest
                    </a>
                  </li>
                </ul> -->
              </div>
              <div class="col-auto">
                {% if user in following_users %}
                <form method="post" 
                  hx-post="{% url 'unfollow_user' user.slug %}" 
                  hx-target="closest tr" 
                  hx-swap="outerHTML">
                {% csrf_token %}
                <button type="submit" class="btn btn-sm text-bg-danger-subtle rounded-2">Unfollow</button>
                </form>
                {% else %}
                <form method="post" 
                  hx-post="{% url 'follow_user' user.slug %}" 
                  hx-target="closest tr" 
                  hx-swap="outerHTML">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-sm text-success-emphasis bg-success-subtle border border-success-subtle rounded-2">Follow</button>
                </form>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}