{% url 'user_topics' user.username as user_topics_url %}
{% url 'user_settings' user.username as user_settings_url %}
{% url 'password_change' user.username as password_change_url %}
{% url 'communities' as communities_url %}
{% url 'user_communities' user.username as user_communities_url %}
{% url 'search_all_topics' as search_all_topics_url %}
{% url 'searches' as searches_url %}
{% url 'saved_searches' as saved_searches_url %}
{% url 'community' community.slug as community_url %}
{% url 'search_user_topics' as search_user_topics_url %}
{% url 'posts_foryou_based_on_communities_you_follow' as posts_foryou_based_on_communities_you_follow_url %}
{% url 'topics_foryou_based_on_communities_you_follow' as topics_foryou_based_on_communities_you_follow_url %}
{% url 'follow_people' as follow_people_url %}
{% url 'posts_from_community_you_follow' community.slug as posts_from_community_you_follow_url %}

<nav class="navbar navbar-vertical fixed-start navbar-expand-md" id="sidebar">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-user d-md-none">
      <div class="dropdown">
        <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-sm avatar-online">
            <img src="" class="avatar-img rounded-circle" alt="...">
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarIcon">
          <a href="{% url 'user_topics' user.username %}" class="dropdown-item">Profile</a>
          <a href="{% url 'user_settings' user.username %}" class="dropdown-item">Settings</a>
          <hr class="dropdown-divider">
          <a href="{% url 'user_logout' %}" class="dropdown-item">Logout</a>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="sidebarCollapse">
      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge input-group-reverse">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-text">
            <span class="fe fe-search"></span>
          </div>
        </div>
      </form>
      <ul class="navbar-nav mb-md-4">
        <li class="nav-item">
          <a class="nav-link text-dark fs-12 {% if request.path == posts_foryou_based_on_communities_you_follow_url or request.path == topics_foryou_based_on_communities_you_follow_url or request.path == posts_from_community_you_follow_url %}active fw-800{% endif %}" href="{% url 'posts_foryou_based_on_communities_you_follow' %}">
            For You
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-12 {% if request.path == follow_people_url %}active fw-800{% endif %}" href="{% url 'follow_people' %}">
            People
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-12 {% if request.path == communities_url or request.path == community_url %}active fw-800{% endif %}" href="{% url 'communities' %}">
            Communities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-12 {% if request.path == search_all_topics_url or request.path == searches_url %}active fw-800{% endif %}" href="{% url 'searches' %}">
            Search
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-dark fs-12" href="">
            Explore
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-dark fs-12" href="./docs/changelog.html">
            Stumble
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-12" href="./docs/changelog.html">
            Notifications
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-12" href="">
            Bookmarks
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-12" href="">
            History
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-12 {% if request.path == user_topics_url or request.path == user_communities_url or request.path == search_user_topics_url or request.path == saved_searches_url %}active fw-800{% endif %}" href="{% url 'user_topics' user.username %}">
            Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark fs-12 {% if request.path == user_settings_url or request.path == password_change_url %}active fw-800{% endif %}" href="{% url 'user_settings' user.username %}">
            Settings
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-user d-none d-md-flex" id="sidebarUser">
      <a href="javascript:void(0);">
        <form method="post" action="{% url 'user_logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-sm btn-white border-0"><i class="bi bi-box-arrow-right la-lg"></i></button>
        </form>
      </a>
    </div>
  </div>
</nav>